.u-section-1 .u-sheet-1 {
  min-height: 650px;
}

.u-section-1 .u-text-1 {
  font-family: PixeloidMono;
  font-size: 4.5rem;
  margin: 79px auto 0;
}

.u-section-1 .u-text-2 {
  font-family: PixeloidMono;
  margin: 0 auto;
}

.u-section-1 .u-text-3 {
  font-family: raster;
  margin: 13px auto 0;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 267px;
  margin: 0 auto 60px;
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 646px;
  }

  .u-section-1 .u-image-1 {
    height: 248px;
    margin-top: 13px;
    margin-bottom: 13px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 542px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-image-1 {
    margin-top: 0;
    margin-bottom: 60px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}@font-face {
  font-family: 'PixeloidMono';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/PixeloidMono.otf);
}@font-face {
  font-family: 'raster';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/raster.ttf);
}@font-face {
  font-family: 'DotGothic16-Regular';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/DotGothic16-Regular.ttf);
}