@font-face {
    font-family: "MatrixSans";
    src: url("../fonts/MatrixSans-Regular.woff2") format("woff2");
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "JUSTsans";
    src: url("../fonts/JUSTSans-Rg.woff2") format("woff2");
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Monaspace";
    src: url("../fonts/MonaspaceNeon-Regular.woff2") format("woff2");
    font-style: normal;
    font-display: swap;
}

body{
    background-color: #191919;
    overflow-x: hidden;
}
h1 {
    font-family: monaspace;
}
p {
    font-family: "JUSTsans";
}

div.banner{
    background-image: url(../assets/myart_banner.png);
    background-size: cover;
    background-position: center;
    margin-top: -8px;
    margin-left: -8px;
    width: 100vw;
    max-width: 100vw;
    padding-top: 200px;
    padding-bottom: 200px;
    
}
p.banner {
    font-family: "JUSTsans";
    color: white;
    margin-left: 100px;
    font-size: 20px;
}
h1.banner {
    font-family: "monaspace";
    color: white;
    font-size: 90px;
    margin-top: 0px;
    margin-bottom: -18px;
    margin-left: 100px;
}
.art-section{
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: -8px;
    margin-right: -8px;
}
.art-section-text{
    margin-left: 15vw;
    color: white;
}
.image-holder{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 15vw;
    margin-top: 50px;
    max-width: 70%;
}
.image-smaller{
    width: 30%;
    height: 30%;
}