.u-section-1 .u-sheet-1 {
  min-height: 86px;
}

.u-section-1 .u-custom-html-1 {
  margin-bottom: 10px;
  height: auto;
  min-height: 66px;
  margin-top: 10px;
}@font-face {
  font-family: 'raster';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/raster.ttf);
}@font-face {
  font-family: 'DotGothic16-Regular';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/DotGothic16-Regular.ttf);
}