@font-face {
    font-family: "MatrixSans";
    src: url("fonts/MatrixSans-Regular.woff2") format("woff2");
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "JUSTsans";
    src: url("fonts/JUSTSans-Rg.woff2") format("woff2");
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Monaspace";
    src: url("fonts/MonaspaceNeon-Regular.woff2") format("woff2");
    font-style: normal;
    font-display: swap;
}

body{
    background-image: linear-gradient(#4f1a40,#a53385);
}
/* Background squares */
@keyframes squares-slidein{
    0% {
        transform: translate(-20vw, 0vh);
        opacity: 0;
    }
    100%{
        transform: translate(0vw, 0vh);
        opacity: 1;
    }
}
@keyframes sections-slidein{
    0% {
        transform: translate(5vw, 0vh);
        opacity: 0;
    }
    100%{
        transform: translate(0vw, 0vh);
        opacity: 1;
    }
}
@keyframes boxes-slidein{
    0% {
        transform: translate(3vw, -6vh);
        opacity: 0;
    }
    100%{
        transform: translate(0vw, 0vh);
        opacity: 1;
    }
}
@keyframes logo-slidein{
    0% {
        transform: translate(0vw, -15vh);
        opacity: 0;
    }
    100%{
        transform: translate(0vw, 0vh);
        opacity: 1;
    }
}

.squares{
    animation: squares-slidein 2s cubic-bezier(0,0,0,1) 0s 1 normal forwards;
    position: absolute;
    z-index: -99;
    background-image: url("assets/squares.png"), linear-gradient(#4f1a40,#a53385);;
    background-repeat: repeat-y;
    background-blend-mode: multiply;
    background-size: 60vw;
    opacity: 0;
    height: 100vh;
    width: 100vw;
    margin-left: -1vw;
}

/* Socials */
.socials-flex{
    opacity: 0;
    animation: logo-slidein 2s cubic-bezier(0,0,0,1) 1s 1 normal forwards;
    display: flex;
    position: absolute;
    top: 10px;
    right: 10px;
}
.socials-box{
    width: 40px;
    height: 40px;
}

/* Top left */
#ecspdev-logo{
    width: 8vh;
    height: 8vh;
}
p.top-left{
    margin-left: 0.2vw;
    margin-top: 1.8vh;
    color: white;
}
.top-left-div{
    animation: logo-slidein 2s cubic-bezier(0,0,0,1) 1s 1 normal forwards;
    opacity: 0;
    margin-left: 0.4vw;
    margin-top: 1vh;
    font-family: "MatrixSans";
    font-size: 3vh;
    display: flex;
    position: absolute;
}

/* Dragon */
.dragon-container{
    height: 99vh;
    margin-top: -8px;
    margin-left: -8px;
}
.dragon{
    animation: squares-slidein 2s cubic-bezier(0,0,0,1) 0.5s 1 normal forwards;
    opacity: 0;
    display: inline-block;
    height: 90%;
    margin-top: 5vh;
    margin-left: 8vw;
}

/* Boxes */
#boxes-container{
    animation: boxes-slidein 2s cubic-bezier(0,0,0,1) 0.8s 1 normal forwards;
    opacity: 0;
    top: 17vh;
    right: 15vw;
    position: absolute;
    rotate: 45deg;
    
}
.boxes-flex{
    display: flex;
}
.boxes{
    background-color: black;
    margin: 0vh;
    width: 20vh;
    height: 20vh;
    max-width: 20vh;
    max-height: 20vh;
    opacity: 0.5;
    
    font-family: "JUSTsans";
    font-size: 1.5vh;
}

@keyframes box-background-appear{
    0%{
        background-size: 0% 0%;
    }
    100%{
        background-size: 100% 100%;
    }
}

.box-center{
    margin-top: 9vh;
}
#box-aboutme{
    background-color: white;
    opacity: 1;
    background-image: none;
    transition: background-image 0.5s;
}
#box-aboutme:hover{
    animation: box-background-appear 0.5s cubic-bezier(0,0,0,1) 0s 1 normal forwards;
    background-image: url('assets/icon_bgs/background_aboutme.png');
    background-repeat: no-repeat;
    background-position: center;
    opacity: 1;
    cursor: pointer;
}
#box-art{
    background-color: #c944a4;
    opacity: 1;
}
#box-art:hover{
    animation: box-background-appear 0.5s cubic-bezier(0,0,0,1) 0s 1 normal forwards;
    background-image: url(assets/icon_bgs/background_art.png);
    background-repeat: no-repeat;
    background-position: center;
    opacity: 1;
    cursor: pointer;
}
#box-studio{
    background-color: #262626;
    opacity: 1;
}
#box-studio:hover{
    animation: box-background-appear 0.5s cubic-bezier(0,0,0,1) 0s 1 normal forwards;
    background-image: url(assets/icon_bgs/background_studio.png);
    background-repeat: no-repeat;
    background-position: center;
    opacity: 1;
    cursor: pointer;
}

/* Windows */
@keyframes window-expand{
    0%{
        transform: scale(0,0);
    }
    100%{
        transform: scale(1,1);
    }
}
@keyframes iframe-appear{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}


.window-obscurer{
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}
.window-background{
    animation: window-expand 0.6s cubic-bezier(0,0,0,1) 0s 1 normal forwards;
    opacity: 1;
    background-color: rgba(209, 209, 209, 0.5);
    border: white dashed;
    width: 70%;
    height: 80%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 10vh;
}
.window-iframe{
    animation: iframe-appear 0.5s linear 0.9s 1 normal forwards;
    border: none;
    opacity: 0;
    background-color: white;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#window-back{
    background-image: url(assets/back.png);
    width: 64px;
    height: 64px;
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
}