@font-face {
    font-family: "MatrixSans";
    src: url("fonts/MatrixSans-Regular.woff2") format("woff2");
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "JUSTsans";
    src: url("fonts/JUSTSans-Rg.woff2") format("woff2");
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Monaspace";
    src: url("fonts/MonaspaceNeon-Regular.woff2") format("woff2");
    font-style: normal;
    font-display: swap;
}

body{
    background-image: url(/assets/background.png);
    background-size: cover;
    overflow: hidden;
}
#welcome{   
    background-image: none;
    background-color: rgb(88, 20, 69, 0);
}
#welcome h1{
    color: white;
    font-size: 4vw;
    font-family: "Monaspace";
    text-align: center;
}
#welcome p{
    font-size: 2vw;
    color: white;
    font-family: "Monaspace";
    text-align: center;
}
#welcome img{
    width: 60vw;
}

.welcome-flex{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.sidebar-content{
    position: fixed;
    display: flex;
    z-index: 998;
    flex-direction: column;
    justify-content: center;
    width: 25%;
    height: 100%;
    margin: -8px;
    background-color: rgba(0,0,0,0.7);
    animation: none;
}

#sidebar-arrow{
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    width: 8vh;
    height: 8vh;
    
    left: -25%;
    
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    
    cursor: pointer;
}
#sidebar-arrow img{
    height: 6vh;
}

.sidebar-elem{
    display: flex;
    justify-content: left;
    align-content: center;
    
    max-width: 80%;
    
    font-family: "JUSTsans";
    
    text-align: left;
    letter-spacing: 6px;
    font-size: 1.3vw;
    color: white;
    
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10%;
}
.sidebar-elem img{
    width: 4vw;
    height: 4vw;
    margin-right: 20px;
}
.sidebar-elem:hover{
    cursor:pointer;
}

iframe {
    float: right;
    height: 98vh;
    width: 55%;
    border: none;
    border-radius: 10px;
    margin-right: 10vw;
}

.disclaimers{
    font-family: "JUSTsans";
    color: white;
    position: fixed;
    bottom: 1vh;
    left: 1vw;
    z-index: 999;
    max-width: 23vw;
}
.disclaimers p{
    text-align: left;
    font-size: 0.8vw;
}
.disclaimers a{
    color: #e0155b;
}

/* Mobile support */
@media only screen and (max-width: 720px){
    .sidebar-content {
        width: 50%;
    }
    #welcome p{
        font-size: 4vw;
    }
    #welcome img{
        width: 80%;
    }
    iframe {
        height: 98vh;
        width: 90vw;
        margin-right: 4vw;
    }
    #sidebar-arrow{
        top: 0%;
        left: 50%;
    }
    
}
/*
.window-obscurer{
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}
.window-background{
    animation: window-expand 0.6s cubic-bezier(0,0,0,1) 0s 1 normal forwards;
    opacity: 1;
    background-color: rgba(209, 209, 209, 0.5);
    border: white dashed;
    width: 70%;
    height: 80%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 10vh;
}
.window-iframe{
    animation: iframe-appear 0.5s linear 0.9s 1 normal forwards;
    border: none;
    opacity: 0;
    background-color: white;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#window-back{
    background-image: url(assets/back.png);
    width: 64px;
    height: 64px;
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
}