@font-face {
    font-family: 'Raster';
    src: url('Raster.woff2') format('woff2'),
        url('Raster.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.content {
    background-color: #322243;
}

/* Main Page */

.logo {
    display: block;
    margin-top: 40px;
    margin-bottom: -30px;
    margin-left: auto;
    margin-right: auto;
}
.title {
    color:white;
    font-family: "raster";
}
.phrase {
    color:white;
    font-family: "raster";
    margin-top: -20px;
}
h3 {
    color:white;
    font-family: "raster";
}
.disclaimer{
    color: gray;
    font-family: "raster";
    text-align:center;
}

.imgh {
    opacity: 1;
}
.imgh:hover {
    opacity: 0.8;
}
.cardcaption {
    position: absolute;
    bottom: 12px;
    left: 26px;
}

/* Main page containers */

.container {
    position: relative;
    font-family: "raster";
}
.flexcontainer{
    display: flex;
    justify-content: center;
}
.flexcontainer > div{
    margin-left : 10px;
    margin-right : 10px;
    margin-bottom: 15px;
}

/* Footer */

footer{
    background-color: black;
    padding:20px;
    justify-content: center;
}
.logo-footer{
    display: block;
    width: 360px;
    margin-left: auto;
    margin-right: auto;
}
.flexcontainer-2{
    display: flex;
    justify-content: center;
}
.flexcontainer-2 > div{
    margin-left: 20px;
    margin-top: auto;
    margin-bottom: auto;
}