.u-section-1 .u-sheet-1 {
  min-height: 649px;
}

.u-section-1 .u-image-1 {
  width: 83px;
  height: 83px;
  margin: 37px auto 0;
}

.u-section-1 .u-text-1 {
  font-family: raster;
  font-size: 2.25rem;
  margin: 7px auto 0;
}

.u-section-1 .u-text-2 {
  font-family: raster;
  font-size: 1.5rem;
  margin: 12px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  text-decoration: underline !important;
  padding: 0;
}

.u-section-1 .u-image-2 {
  width: 31px;
  height: 31px;
  margin: 22px auto 0 420px;
}

.u-section-1 .u-image-3 {
  width: 30px;
  height: 30px;
  margin: -32px auto 0 475px;
}

.u-section-1 .u-image-4 {
  width: 30px;
  height: 30px;
  margin: -30px auto 0 529px;
}

.u-section-1 .u-image-5 {
  width: 30px;
  height: 30px;
  margin: -30px auto 0 583px;
}

.u-section-1 .u-image-6 {
  width: 29px;
  height: 29px;
  margin: -30px auto 0 637px;
}

.u-section-1 .u-image-7 {
  width: 30px;
  height: 30px;
  margin: -30px auto 0 690px;
}

.u-section-1 .u-image-8 {
  width: 570px;
  height: 210px;
  margin: 83px auto 0;
}

.u-section-1 .u-shape-1 {
  width: 117px;
  height: 76px;
  margin: -181px auto 60px 336px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-2 {
    margin-left: 321px;
  }

  .u-section-1 .u-image-3 {
    margin-top: -31px;
    margin-left: 375px;
  }

  .u-section-1 .u-image-4 {
    margin-left: 429px;
  }

  .u-section-1 .u-image-5 {
    margin-left: 483px;
  }

  .u-section-1 .u-image-6 {
    margin-left: 536px;
  }

  .u-section-1 .u-image-7 {
    margin-top: -29px;
    margin-left: 589px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-2 {
    margin-left: 211px;
  }

  .u-section-1 .u-image-3 {
    margin-left: 265px;
  }

  .u-section-1 .u-image-4 {
    margin-left: 319px;
  }

  .u-section-1 .u-image-5 {
    margin-left: 373px;
  }

  .u-section-1 .u-image-6 {
    margin-left: 426px;
  }

  .u-section-1 .u-image-7 {
    margin-left: 479px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 638px;
  }

  .u-section-1 .u-image-4 {
    margin-left: 300px;
  }

  .u-section-1 .u-image-5 {
    margin-left: 300px;
  }

  .u-section-1 .u-image-6 {
    margin-left: 301px;
  }

  .u-section-1 .u-image-7 {
    margin-left: 300px;
  }

  .u-section-1 .u-image-8 {
    width: 540px;
    height: 199px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: -170px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 564px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-image-2 {
    margin-left: auto;
  }

  .u-section-1 .u-image-3 {
    margin-left: auto;
  }

  .u-section-1 .u-image-4 {
    margin-left: auto;
  }

  .u-section-1 .u-image-5 {
    margin-left: auto;
  }

  .u-section-1 .u-image-6 {
    margin-left: 157px;
  }

  .u-section-1 .u-image-7 {
    margin-left: auto;
  }

  .u-section-1 .u-image-8 {
    width: 340px;
    height: 125px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: -96px;
    margin-left: 223px;
  }
}@font-face {
  font-family: 'raster';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/raster.ttf);
}@font-face {
  font-family: 'PixeloidMono';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/PixeloidMono.ttf);
}@font-face {
  font-family: 'DotGothic16-Regular';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/DotGothic16-Regular.ttf);
}