@font-face {
    font-family: "MatrixSans";
    src: url("fonts/MatrixSans-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

h2 {
    font-family: "MatrixSans";
    color: white;
}
body {
    background-color: #6e4c92;
    margin-top: -0px;
}
.left-header{
    position: fixed;
    z-index: 9999;
    display: inline-block;
    background-color: rgba(255, 141, 148, 0.63);
    margin: 0px 0px 0px -8px;
    padding: 4px 16px 0px 12px;
}
.right-header{
    position: fixed;
    z-index: 9999;
    background-color: rgba(255, 141, 148, 0.32);
    padding: 12px;
    padding-bottom: 8px;
    right: 0px;
    top: 0px;
}

footer {
    background-color: black;
    padding: 20px;
}
.footer-content {
    display: flex;
    text-align: left;
    justify-content: center;
    padding-bottom: 46px;
    margin-left: -8px;
    margin-right: -8px;
    margin-bottom: -8px;
}
.footer-block {
    margin: 0px 30px 0px 30px;
}
.footer-title {
    justify-content: left;
    margin-bottom: 18px;
    padding: 0px 0px 0px 0px;
    color:white;
    font-family: "MatrixSans";
}
.footer-list {
    margin: -12px 0px 0px -18px;
    color: darkgray;
    font-family: "MatrixSans";
}
a.footer-item:link{
    color: darkgray;
    text-decoration: none;
}
a.footer-item:visited{
    color: dimgray;
    text-decoration: none;
}

/* For the navicons and logo */
a#header-logo {
    width: 96px;
    height: 96px;
    background-image: url(assets/ECSPdev.png)
}
a#header-logo:hover {
    width: 96px;
    height: 96px;
    background-image: url(assets/ECSPdev_animated.gif)
}

.header-inline {
    width: 36px;
    display: block;
    margin: 0px 0px 10px 0px;
    vertical-align: bottom;
}
a#navicon-sqr {
    height: 36px;
    background-image: url(assets/Navicons/navicons_sqr.png)
}
a#navicon-bdp {
    height: 36px;
    background-image: url(assets/Navicons/navicons_boredom.png)
}
a#navicon-rsc {
    height: 36px;
    background-image: url(assets/Navicons/navicons_resources.png)
}a#navicon-pfl {
    height: 36px;
    background-image: url(assets/Navicons/navicons_portfolio.png)
}
a#navicon-sqr:hover {
    height: 36px;
    background-image: url(assets/Navicons/navicons_sqr_s.png)
}
a#navicon-bdp:hover {
    height: 36px;
    background-image: url(assets/Navicons/navicons_boredom_s.png)
}
a#navicon-rsc:hover {
    height: 36px;
    background-image: url(assets/Navicons/navicons_resources_s.png)
}a#navicon-pfl:hover {
    height: 36px;
    background-image: url(assets/Navicons/navicons_portfolio_s.png)
}

/* For the square runner, boredom project and allat boxes and logos*/
.boxes {
    margin-left: -8px;
    margin-right: -8px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.boxes_row{
    display: flex;
}
.boxes_sqr {
    background-image: url("assets/square_runner_bg.jpg");
    height: 800px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}
.boxes_bdp {
    background-image: url("assets/boredom_bg.png");
    height: 600px;
    width: 50%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}.boxes_pfl {
    background-image: url("assets/portfolio_bg.png");
    height: 600px;
    width: 50%;
    position: absolute;
    right: 0px;
    background-repeat: no-repeat;
    background-position: 30% 50%;
    background-size: cover;
}
.boxes_twt {
    background-image: linear-gradient(135deg, cornflowerblue, #29529d);
    height: 400px;
    width: 33%;
}
.boxes_yt {
    background-image: linear-gradient(135deg, #ff7272, brown);
    height: 400px;
    width: 34%;
    left: 33%;
}
.boxes_ctt {
    background-image: linear-gradient(135deg, #ffc0c0, #ff7272);
    height: 400px;
    width: 33%;
    right: 0px;
}

#sqr_logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 200px;
}
#bdp_logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 250px;
}
.boxes_t{
    font-size: 300%;
    color: white;
    font-family: "MatrixSans";
    text-align: center;
    margin-top: 250px;
}.boxes_t2{
    font-size: 300%;
    color: white;
    font-family: "MatrixSans";
    text-align: center;
    margin-top: 180px;
}
.title-link{
    text-decoration: none;
    color: white;
}
