 .u-section-1 {
  background-image: url("images/books-bookstore-book-reading-159711_edited.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 1166px;
}

.u-section-1 .u-group-1 {
  width: 570px;
  min-height: 398px;
  height: auto;
  background-image: none;
  margin: 132px auto 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-family: SUIT-Thin;
  margin: 3px auto 0 171px;
}

.u-section-1 .u-text-2 {
  font-family: SUIT-Thin;
  font-size: 1.5rem;
  margin: 11px 40px 0;
}

.u-section-1 .u-group-2 {
  width: 922px;
  min-height: 521px;
  height: auto;
  margin: 47px auto 48px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-text-3 {
  font-family: SUIT-Thin;
  font-size: 1.5rem;
  margin: 246px auto 0;
}

.u-section-1 .u-custom-html-1 {
  height: auto;
  min-height: 520px;
  width: 922px;
  margin: -272px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 961px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-group-2 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1154px;
  }

  .u-section-1 .u-group-2 {
    width: 720px;
  }

  .u-section-1 .u-custom-html-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-2 {
    width: 540px;
  }

  .u-section-1 .u-custom-html-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1180px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 105px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-group-2 {
    width: 340px;
  }

  .u-section-1 .u-custom-html-1 {
    width: 340px;
  }
}@font-face {
  font-family: 'SUIT-Thin';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/SUIT-Thin.otf);
}@font-face {
  font-family: 'raster';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/raster.ttf);
}@font-face {
  font-family: 'DotGothic16-Regular';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/DotGothic16-Regular.ttf);
}