 .u-section-1 {
  background-image: url("images/background1.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 558px;
}

.u-section-1 .u-image-1 {
  width: 292px;
  height: 402px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 178px 0 0 auto;
}

.u-section-1 .u-image-2 {
  width: 272px;
  height: 194px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -471px auto 0;
}

.u-section-1 .u-image-3 {
  width: 729px;
  height: 204px;
  margin: -97px auto 0;
}

.u-section-1 .u-image-4 {
  width: 694px;
  height: 437px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -289px auto 0 -159px;
}

@media (max-width: 991px) {
  .u-section-1 .u-image-3 {
    height: 201px;
    margin-top: 213px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-4 {
    margin-top: -286px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-3 {
    height: 151px;
    margin-top: 253px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-4 {
    margin-top: -236px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 335px;
  }

  .u-section-1 .u-image-3 {
    height: 95px;
    margin-top: 149px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-4 {
    width: 340px;
    height: 214px;
    margin-top: -180px;
    margin-left: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 590px;
}

.u-section-2 .u-group-elements-1 {
  width: 475px;
  min-height: 97px;
  margin: 28px auto 0;
}

.u-section-2 .u-text-1 {
  font-weight: 900;
  font-family: raster;
  font-size: 1.875rem;
  margin: 13px auto 0 32px;
}

.u-section-2 .u-text-2 {
  font-family: raster;
  font-size: 3rem;
  font-weight: 700;
  margin: 46px auto 0;
}

.u-section-2 .u-text-3 {
  width: 626px;
  margin: 28px auto 46px;
}

@media (max-width: 767px) {
  .u-section-2 .u-text-3 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-group-elements-1 {
    width: 340px;
  }

  .u-section-2 .u-text-3 {
    width: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 187px;
}

.u-section-3 .u-text-1 {
  font-family: raster;
  font-size: 1.875rem;
  font-weight: 700;
  margin: 32px auto 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  width: 484px;
  margin: 15px auto 32px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 817px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 220px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 56px;
  }

  .u-section-3 .u-text-2 {
    margin-bottom: 41px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1130px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 35px;
  }

  .u-section-3 .u-text-2 {
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 279px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
    margin-bottom: 36px;
  }
} .u-section-4 {
  background-image: linear-gradient(120deg, white, #b238c4);
}

.u-section-4 .u-sheet-1 {
  min-height: 530px;
}

.u-section-4 .u-text-1 {
  font-family: raster;
  font-weight: 700;
  font-size: 3.75rem;
  margin: 40px 394px 0 auto;
}

.u-section-4 .u-text-2 {
  font-family: raster;
  font-style: italic;
  margin: 0 322px 0 auto;
}

.u-section-4 .u-text-3 {
  font-family: raster;
  margin: 18px 199px 0 479px;
}

.u-section-4 .u-image-1 {
  width: 256px;
  height: 256px;
  margin: -167px auto 0 117px;
}

.u-section-4 .u-text-4 {
  font-size: 1.25rem;
  font-family: raster;
  margin: -62px 236px 39px 570px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-right: 325px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 20px;
    margin-right: 266px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 20px;
    margin-right: 99px;
    margin-left: 379px;
  }

  .u-section-4 .u-image-1 {
    width: 171px;
    height: 171px;
    margin-top: 194px;
  }

  .u-section-4 .u-text-4 {
    margin-top: -87px;
    margin-right: 136px;
    margin-left: 470px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-right: 249px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 204px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
    margin-left: 258px;
  }

  .u-section-4 .u-text-4 {
    margin: -86px 26px 45px 360px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    margin-right: 187px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 153px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 78px;
  }

  .u-section-4 .u-text-4 {
    margin: 20px 0 39px 206px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 766px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-2 {
    width: 174px;
    margin-top: 7px;
    margin-right: auto;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: 18px;
    margin-left: 0;
  }

  .u-section-4 .u-image-1 {
    height: 170px;
    margin-top: 234px;
    margin-left: auto;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-top: -370px;
    margin-bottom: 60px;
    margin-left: 6px;
  }
} .u-section-5 {
  background-image: linear-gradient(#f1b5b8, #db545a);
}

.u-section-5 .u-sheet-1 {
  min-height: 623px;
}

.u-section-5 .u-text-1 {
  font-family: raster;
  font-style: italic;
  margin: 129px auto 0 182px;
}

.u-section-5 .u-text-2 {
  font-family: raster;
  font-weight: 700;
  font-size: 3.75rem;
  margin: -102px auto 0 221px;
}

.u-section-5 .u-image-1 {
  width: 260px;
  height: 260px;
  margin: 0 120px 0 auto;
}

.u-section-5 .u-text-3 {
  font-family: raster;
  line-height: 1.2;
  margin: -191px 671px 0 98px;
}

.u-section-5 .u-text-4 {
  font-size: 1.25rem;
  font-family: raster;
  margin: 22px 671px 60px 135px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    margin-top: -147px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 175px;
  }

  .u-section-5 .u-image-1 {
    margin-top: -200px;
  }

  .u-section-5 .u-text-3 {
    margin-top: -238px;
    margin-right: 569px;
    margin-left: 0;
  }

  .u-section-5 .u-text-4 {
    margin-right: 569px;
    margin-left: 37px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    margin-top: 149px;
  }

  .u-section-5 .u-text-2 {
    margin-top: -122px;
  }

  .u-section-5 .u-image-1 {
    margin-top: 96px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 349px;
  }

  .u-section-5 .u-text-4 {
    margin-right: 349px;
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    margin-left: 137px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 166px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 169px;
  }

  .u-section-5 .u-text-4 {
    margin-right: 169px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 692px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 81px;
    margin-left: auto;
  }

  .u-section-5 .u-text-2 {
    font-size: 1.875rem;
    width: auto;
    margin-top: -68px;
    margin-left: auto;
  }

  .u-section-5 .u-image-1 {
    width: 158px;
    height: 158px;
    margin-top: 440px;
    margin-right: auto;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-top: -541px;
    margin-right: 0;
  }

  .u-section-5 .u-text-4 {
    width: auto;
    margin: 31px 6px 60px 0;
  }
} .u-section-6 {
  background-image: linear-gradient(270deg, #a4dfff, #45b6ff);
}

.u-section-6 .u-sheet-1 {
  min-height: 637px;
}

.u-section-6 .u-text-1 {
  font-family: raster;
  font-weight: 700;
  font-size: 3.75rem;
  margin: 41px 232px 0 auto;
}

.u-section-6 .u-text-2 {
  font-family: raster;
  font-style: italic;
  margin: 0 270px 0 auto;
}

.u-section-6 .u-text-3 {
  font-family: raster;
  margin: 20px 59px 0 476px;
}

.u-section-6 .u-image-1 {
  width: 279px;
  height: 279px;
  margin: -229px auto 0 100px;
}

.u-section-6 .u-text-4 {
  font-size: 1.25rem;
  font-family: raster;
  margin: -9px 149px 41px 566px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-3 {
    margin-top: 61px;
    margin-right: 0;
    margin-left: 334px;
  }

  .u-section-6 .u-image-1 {
    margin-top: 20px;
  }

  .u-section-6 .u-text-4 {
    margin: 26px 49px 0 466px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-text-2 {
    margin-top: 20px;
    margin-right: 207px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 114px;
  }

  .u-section-6 .u-text-4 {
    margin-right: 0;
    margin-left: 295px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-1 {
    margin-right: 174px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 155px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 0;
  }

  .u-section-6 .u-text-4 {
    margin-left: 115px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1057px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 69px;
    margin-right: auto;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-top: 14px;
    margin-right: auto;
  }

  .u-section-6 .u-text-3 {
    margin-top: 40px;
  }

  .u-section-6 .u-image-1 {
    width: 219px;
    height: 219px;
    margin-top: 310px;
    margin-left: auto;
  }

  .u-section-6 .u-text-4 {
    width: auto;
    margin-top: -509px;
    margin-left: 0;
    margin-bottom: 60px;
  }
} .u-section-7 {
  background-image: linear-gradient(40deg, #999999, #333333);
}

.u-section-7 .u-sheet-1 {
  min-height: 631px;
}

.u-section-7 .u-text-1 {
  font-family: raster;
  font-weight: 700;
  font-size: 3.75rem;
  margin: 50px auto 0 252px;
}

.u-section-7 .u-image-1 {
  width: 245px;
  height: 428px;
  margin: -43px 102px 0 auto;
}

.u-section-7 .u-text-2 {
  font-family: raster;
  font-style: italic;
  margin: -385px auto 0 250px;
}

.u-section-7 .u-text-3 {
  font-family: raster;
  margin: 14px 486px 0 24px;
}

.u-section-7 .u-text-4 {
  font-size: 1.25rem;
  font-family: raster;
  margin: 29px 634px 60px 172px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-image-1 {
    height: 429px;
  }

  .u-section-7 .u-text-3 {
    margin-top: 20px;
    margin-right: 311px;
    margin-left: 0;
  }

  .u-section-7 .u-text-4 {
    margin-right: 534px;
    margin-left: 72px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-text-1 {
    margin-left: 193px;
  }

  .u-section-7 .u-text-2 {
    margin-left: 191px;
  }

  .u-section-7 .u-text-3 {
    margin-right: 91px;
  }

  .u-section-7 .u-text-4 {
    margin-right: 386px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-text-1 {
    margin-left: 145px;
  }

  .u-section-7 .u-image-1 {
    margin-top: 20px;
  }

  .u-section-7 .u-text-2 {
    margin-left: 143px;
  }

  .u-section-7 .u-text-3 {
    margin-right: 0;
  }

  .u-section-7 .u-text-4 {
    margin-right: 206px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1034px;
  }

  .u-section-7 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 64px;
    margin-left: auto;
  }

  .u-section-7 .u-image-1 {
    width: 186px;
    height: 326px;
    margin-top: 570px;
    margin-right: auto;
  }

  .u-section-7 .u-text-2 {
    width: auto;
    margin-top: -890px;
    margin-left: auto;
  }

  .u-section-7 .u-text-3 {
    width: auto;
    margin-top: 31px;
  }

  .u-section-7 .u-text-4 {
    width: auto;
    margin-top: 12px;
    margin-right: 6px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 561px;
}

.u-section-8 .u-image-1 {
  width: 289px;
  height: 290px;
  margin: 135px auto 0 65px;
}

.u-section-8 .u-text-1 {
  font-family: raster;
  font-size: 3rem;
  font-weight: 700;
  margin: -265px 130px 0 auto;
}

.u-section-8 .u-text-2 {
  margin: 28px 89px 60px 622px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-text-2 {
    margin-right: 0;
    margin-left: 511px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-text-1 {
    margin-top: 20px;
  }

  .u-section-8 .u-text-2 {
    margin-left: 291px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-text-2 {
    margin-left: 111px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 865px;
  }

  .u-section-8 .u-image-1 {
    margin-top: 130px;
    margin-left: auto;
  }

  .u-section-8 .u-text-1 {
    width: auto;
    margin-top: 25px;
    margin-right: auto;
    margin-left: 21px;
  }

  .u-section-8 .u-text-2 {
    margin-left: 0;
  }
} .u-section-9 {
  background-image: url("images/image3.png");
  background-position: 50% 50%;
}

.u-section-9 .u-sheet-1 {
  min-height: 662px;
}

.u-section-9 .u-text-1 {
  font-family: raster;
  font-size: 3rem;
  margin: 83px auto 0;
}

.u-section-9 .u-text-2 {
  font-size: 1.25rem;
  margin: 10px auto 0;
}

.u-section-9 .u-btn-1 {
  letter-spacing: 1px;
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  font-weight: 700;
  font-family: raster;
  margin: 30px auto 0;
}

.u-section-9 .u-btn-2 {
  letter-spacing: 1px;
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  font-weight: 700;
  font-family: raster;
  margin: 20px auto 0;
}

.u-section-9 .u-text-3 {
  font-family: raster;
  font-size: 3rem;
  margin: 20px auto 0;
}

.u-section-9 .u-btn-3 {
  letter-spacing: 1px;
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  font-weight: 700;
  font-family: raster;
  margin: 20px auto 0;
}

.u-section-9 .u-btn-4 {
  letter-spacing: 1px;
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  font-weight: 700;
  font-family: raster;
  margin: 20px auto 0;
}

.u-section-9 .u-btn-5 {
  letter-spacing: 1px;
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  font-weight: 700;
  font-family: raster;
  margin: 20px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 546px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 418px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 314px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 198px;
  }

  .u-section-9 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-9 .u-text-3 {
    font-size: 1.5rem;
  }
}@font-face {
  font-family: 'raster';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/raster.ttf);
}@font-face {
  font-family: 'DotGothic16-Regular';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/DotGothic16-Regular.ttf);
}