 .u-section-1 {
  background-image: url("images/background1.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 558px;
}

.u-section-1 .u-image-1 {
  width: 272px;
  height: 194px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 109px auto 0;
}

.u-section-1 .u-image-2 {
  width: 729px;
  height: 204px;
  margin: -97px auto 0;
}

.u-section-1 .u-image-3 {
  width: 292px;
  height: 402px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -232px 0 0 auto;
}

.u-section-1 .u-image-4 {
  width: 694px;
  height: 437px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -459px auto 0 -159px;
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    margin-top: -471px;
  }

  .u-section-1 .u-image-2 {
    height: 201px;
    margin-top: 213px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-3 {
    margin-top: -603px;
  }

  .u-section-1 .u-image-4 {
    margin-top: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-2 {
    height: 151px;
    margin-top: 218px;
    margin-bottom: 60px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-3 {
    margin-top: -593px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 335px;
  }

  .u-section-1 .u-image-2 {
    height: 95px;
    margin-top: 149px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-3 {
    margin-top: -433px;
  }

  .u-section-1 .u-image-4 {
    width: 340px;
    height: 214px;
    margin-left: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 590px;
}

.u-section-2 .u-group-elements-1 {
  width: 475px;
  min-height: 97px;
  margin: 28px auto 0;
}

.u-section-2 .u-text-1 {
  font-weight: 900;
  font-family: raster;
  font-size: 1.875rem;
  margin: 13px auto 0 32px;
}

.u-section-2 .u-text-2 {
  font-family: raster;
  font-size: 3rem;
  font-weight: 700;
  margin: 46px auto 0;
}

.u-section-2 .u-text-3 {
  width: 626px;
  margin: 28px auto 46px;
}

@media (max-width: 767px) {
  .u-section-2 .u-text-3 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-group-elements-1 {
    width: 340px;
  }

  .u-section-2 .u-text-3 {
    width: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 187px;
}

.u-section-3 .u-text-1 {
  font-family: raster;
  font-size: 1.875rem;
  font-weight: 700;
  margin: 32px auto 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  width: 484px;
  margin: 15px auto 32px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 213px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 50px;
  }

  .u-section-3 .u-text-2 {
    margin-bottom: 40px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 220px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 56px;
  }

  .u-section-3 .u-text-2 {
    margin-bottom: 41px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 194px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 36px;
  }

  .u-section-3 .u-text-2 {
    margin-bottom: 36px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 279px;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
  }
} .u-section-4 {
  background-image: linear-gradient(120deg, white, #b238c4);
}

.u-section-4 .u-sheet-1 {
  min-height: 530px;
}

.u-section-4 .u-text-1 {
  font-family: raster;
  font-weight: 700;
  font-size: 3.75rem;
  margin: 40px 394px 0 auto;
}

.u-section-4 .u-text-2 {
  font-family: raster;
  font-style: italic;
  margin: 0 322px 0 auto;
}

.u-section-4 .u-text-3 {
  font-family: raster;
  margin: 18px 199px 0 479px;
}

.u-section-4 .u-image-1 {
  width: 256px;
  height: 256px;
  margin: -167px auto 0 117px;
}

.u-section-4 .u-text-4 {
  font-size: 1.25rem;
  font-family: raster;
  margin: -62px 236px 39px 570px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 576px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 60px;
    margin-right: 297px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-right: 232px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 20px;
    margin-right: 99px;
    margin-left: 379px;
  }

  .u-section-4 .u-image-1 {
    width: 171px;
    height: 171px;
    margin-top: -144px;
    margin-left: 99px;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin: -5px 166px 60px 440px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-right: 203px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 131px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
    margin-left: 258px;
  }

  .u-section-4 .u-image-1 {
    margin-top: -115px;
    margin-left: 62px;
  }

  .u-section-4 .u-text-4 {
    margin-top: -36px;
    margin-right: 56px;
    margin-left: 330px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    margin-top: 40px;
    margin-right: auto;
  }

  .u-section-4 .u-text-2 {
    margin-top: 9px;
    margin-right: auto;
  }

  .u-section-4 .u-text-3 {
    margin-left: 78px;
  }

  .u-section-4 .u-image-1 {
    width: 194px;
    height: 194px;
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-4 .u-text-4 {
    width: 334px;
    margin: 17px auto 55px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 489px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-text-2 {
    width: 174px;
    margin-top: 7px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: 18px;
    margin-left: 0;
  }

  .u-section-4 .u-image-1 {
    height: 170px;
    margin-top: 14px;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin: 10px 3px 26px;
  }
} .u-section-5 {
  background-image: linear-gradient(#f1b5b8, #db545a);
}

.u-section-5 .u-sheet-1 {
  min-height: 623px;
}

.u-section-5 .u-text-1 {
  font-family: raster;
  font-style: italic;
  margin: 129px auto 0 182px;
}

.u-section-5 .u-text-2 {
  font-family: raster;
  font-weight: 700;
  font-size: 3.75rem;
  margin: -102px auto 0 221px;
}

.u-section-5 .u-image-1 {
  width: 260px;
  height: 260px;
  margin: 0 120px 0 auto;
}

.u-section-5 .u-text-3 {
  font-family: raster;
  line-height: 1.2;
  margin: -191px 671px 0 98px;
}

.u-section-5 .u-text-4 {
  font-size: 1.25rem;
  font-family: raster;
  margin: 22px 671px 60px 135px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 629px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 136px;
    margin-left: 120px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: -120px;
    margin-left: 147px;
  }

  .u-section-5 .u-image-1 {
    margin-top: 19px;
    margin-right: 119px;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-top: -162px;
    margin-right: 526px;
    margin-left: 43px;
  }

  .u-section-5 .u-text-4 {
    width: auto;
    margin: 19px 563px 40px 43px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 678px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 139px;
    margin-left: 119px;
  }

  .u-section-5 .u-text-2 {
    margin-top: -117px;
    margin-left: 139px;
  }

  .u-section-5 .u-image-1 {
    margin-top: 28px;
    margin-right: 27px;
  }

  .u-section-5 .u-text-3 {
    margin-top: -202px;
    margin-right: 314px;
    margin-left: 35px;
  }

  .u-section-5 .u-text-4 {
    margin: 14px 314px 60px 72px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 630px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 42px;
    margin-left: auto;
  }

  .u-section-5 .u-text-2 {
    margin-top: -103px;
    margin-left: auto;
  }

  .u-section-5 .u-image-1 {
    margin-top: 0;
    margin-right: auto;
  }

  .u-section-5 .u-text-3 {
    margin-top: -207px;
    margin-right: 169px;
    margin-left: 0;
  }

  .u-section-5 .u-text-4 {
    width: 334px;
    margin: 29px auto -25px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 474px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 33px;
  }

  .u-section-5 .u-text-2 {
    font-size: 1.875rem;
    margin-top: -65px;
  }

  .u-section-5 .u-image-1 {
    width: 158px;
    height: 158px;
    margin-top: 13px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 0;
  }

  .u-section-5 .u-text-4 {
    width: auto;
    margin: 13px 0 -3px 6px;
  }
} .u-section-6 {
  background-image: linear-gradient(270deg, #a4dfff, #45b6ff);
}

.u-section-6 .u-sheet-1 {
  min-height: 637px;
}

.u-section-6 .u-text-1 {
  font-family: raster;
  font-weight: 700;
  font-size: 3.75rem;
  margin: 41px 232px 0 auto;
}

.u-section-6 .u-text-2 {
  font-family: raster;
  font-style: italic;
  margin: 0 270px 0 auto;
}

.u-section-6 .u-text-3 {
  font-family: raster;
  margin: 20px 59px 0 476px;
}

.u-section-6 .u-image-1 {
  width: 279px;
  height: 279px;
  margin: -229px auto 0 100px;
}

.u-section-6 .u-text-4 {
  font-size: 1.25rem;
  font-family: raster;
  margin: -9px 149px 41px 566px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 659px;
  }

  .u-section-6 .u-text-3 {
    margin-top: 61px;
    margin-right: 0;
    margin-left: 334px;
  }

  .u-section-6 .u-image-1 {
    margin-top: -120px;
    margin-left: 21px;
  }

  .u-section-6 .u-text-4 {
    width: auto;
    margin-top: -138px;
    margin-right: 89px;
    margin-left: 426px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 682px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: 31px;
    margin-right: 132px;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-right: 160px;
    margin-left: 376px;
  }

  .u-section-6 .u-text-3 {
    width: auto;
    margin-top: 0;
    margin-right: 53px;
    margin-left: 269px;
  }

  .u-section-6 .u-image-1 {
    margin-top: -236px;
    margin-left: 0;
  }

  .u-section-6 .u-text-4 {
    margin: -30px 0 56px 295px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 657px;
  }

  .u-section-6 .u-text-2 {
    width: 204px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-text-3 {
    margin-right: 0;
    margin-left: 142px;
  }

  .u-section-6 .u-image-1 {
    margin-top: -41px;
    margin-left: auto;
  }

  .u-section-6 .u-text-4 {
    margin: 17px 84px 40px 121px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 574px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.875rem;
    margin-right: auto;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-right: 44px;
    margin-left: 92px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 0;
  }

  .u-section-6 .u-image-1 {
    width: 219px;
    height: 219px;
  }

  .u-section-6 .u-text-4 {
    margin-right: 0;
    margin-bottom: 57px;
    margin-left: 5px;
  }
} .u-section-7 {
  background-image: linear-gradient(40deg, #999999, #333333);
}

.u-section-7 .u-sheet-1 {
  min-height: 631px;
}

.u-section-7 .u-text-1 {
  font-family: raster;
  font-weight: 700;
  font-size: 3.75rem;
  margin: 50px auto 0 252px;
}

.u-section-7 .u-image-1 {
  width: 245px;
  height: 428px;
  margin: -43px 102px 0 auto;
}

.u-section-7 .u-text-2 {
  font-family: raster;
  font-style: italic;
  margin: -385px auto 0 250px;
}

.u-section-7 .u-text-3 {
  font-family: raster;
  margin: 14px 486px 0 24px;
}

.u-section-7 .u-text-4 {
  font-size: 1.25rem;
  font-family: raster;
  margin: 29px 634px 60px 172px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 684px;
  }

  .u-section-7 .u-image-1 {
    height: 429px;
    margin-top: -13px;
    margin-right: 67px;
  }

  .u-section-7 .u-text-2 {
    margin-top: -415px;
  }

  .u-section-7 .u-text-3 {
    width: auto;
    margin-top: 19px;
    margin-right: 331px;
    margin-left: 67px;
  }

  .u-section-7 .u-text-4 {
    width: auto;
    margin-right: 435px;
    margin-left: 171px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 712px;
  }

  .u-section-7 .u-text-1 {
    width: auto;
    margin-top: 38px;
    margin-left: 155px;
  }

  .u-section-7 .u-image-1 {
    margin-top: 38px;
    margin-right: 23px;
  }

  .u-section-7 .u-text-2 {
    width: auto;
    margin-top: -456px;
    margin-left: 152px;
  }

  .u-section-7 .u-text-3 {
    margin-top: 15px;
    margin-right: 260px;
    margin-left: 23px;
  }

  .u-section-7 .u-text-4 {
    margin-top: 35px;
    margin-right: 325px;
    margin-left: 61px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-7 .u-text-1 {
    margin-top: 31px;
    margin-left: auto;
  }

  .u-section-7 .u-image-1 {
    margin-top: 36px;
    margin-right: auto;
  }

  .u-section-7 .u-text-2 {
    margin-top: -465px;
    margin-left: auto;
  }

  .u-section-7 .u-text-3 {
    margin-right: 102px;
    margin-left: 0;
  }

  .u-section-7 .u-text-4 {
    width: 334px;
    margin: 429px auto 40px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 722px;
  }

  .u-section-7 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 64px;
  }

  .u-section-7 .u-image-1 {
    width: 186px;
    height: 326px;
    margin-top: 35px;
  }

  .u-section-7 .u-text-2 {
    margin-top: -355px;
  }

  .u-section-7 .u-text-3 {
    margin-top: 31px;
    margin-right: 0;
  }

  .u-section-7 .u-text-4 {
    width: auto;
    margin: 349px 3px 49px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 561px;
}

.u-section-8 .u-image-1 {
  width: 289px;
  height: 290px;
  margin: 135px auto 0 65px;
}

.u-section-8 .u-text-1 {
  font-family: raster;
  font-size: 3rem;
  font-weight: 700;
  margin: -265px 130px 0 auto;
}

.u-section-8 .u-text-2 {
  margin: 28px 89px 60px 622px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-text-2 {
    width: auto;
    margin-top: 15px;
    margin-right: 90px;
    margin-left: 421px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 406px;
  }

  .u-section-8 .u-image-1 {
    margin-top: 59px;
    margin-left: 24px;
  }

  .u-section-8 .u-text-1 {
    width: auto;
    margin-top: -290px;
    margin-right: 33px;
  }

  .u-section-8 .u-text-2 {
    margin: 24px 33px 87px 327px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 690px;
  }

  .u-section-8 .u-image-1 {
    margin-top: 60px;
    margin-left: auto;
  }

  .u-section-8 .u-text-1 {
    margin-top: 24px;
    margin-right: auto;
  }

  .u-section-8 .u-text-2 {
    width: 360px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 55px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 865px;
  }

  .u-section-8 .u-text-1 {
    margin-left: 21px;
  }

  .u-section-8 .u-text-2 {
    width: 340px;
  }
} .u-section-9 {
  background-image: url("images/image3.png");
  background-position: 50% 50%;
}

.u-section-9 .u-sheet-1 {
  min-height: 662px;
}

.u-section-9 .u-text-1 {
  font-family: raster;
  font-size: 3rem;
  margin: 83px auto 0;
}

.u-section-9 .u-text-2 {
  font-size: 1.25rem;
  margin: 10px auto 0;
}

.u-section-9 .u-btn-1 {
  letter-spacing: 1px;
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  font-weight: 700;
  font-family: raster;
  margin: 30px auto 0;
}

.u-section-9 .u-btn-2 {
  letter-spacing: 1px;
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  font-weight: 700;
  font-family: raster;
  margin: 20px auto 0;
}

.u-section-9 .u-text-3 {
  font-family: raster;
  font-size: 3rem;
  margin: 20px auto 0;
}

.u-section-9 .u-btn-3 {
  letter-spacing: 1px;
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  font-weight: 700;
  font-family: raster;
  margin: 20px auto 0;
}

.u-section-9 .u-btn-4 {
  letter-spacing: 1px;
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  font-weight: 700;
  font-family: raster;
  margin: 20px auto 0;
}

.u-section-9 .u-btn-5 {
  letter-spacing: 1px;
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  font-weight: 700;
  font-family: raster;
  margin: 20px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 546px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 418px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 314px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 198px;
  }

  .u-section-9 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-9 .u-text-3 {
    font-size: 1.5rem;
  }
}@font-face {
  font-family: 'raster';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/raster.ttf);
}@font-face {
  font-family: 'DotGothic16-Regular';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/DotGothic16-Regular.ttf);
}@font-face {
  font-family: 'SUIT-Thin';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/SUIT-Thin.otf);
}