@font-face {
    font-family: "MatrixSans";
    src: url("fonts/MatrixSans-Regular.woff2") format("woff2");
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "JUSTsans";
    src: url("fonts/JUSTSans-Rg.woff2") format("woff2");
    font-style: normal;
    font-display: swap;
}
body {
    background-color: #6e4c92;
}
.left-header{
    position: fixed;
    z-index: 9999;
    display: inline-block;
    background-color: rgba(255, 141, 148, 0.63);
    margin: 8px 0px 0px -8px;
    padding: 4px 16px 0px 12px;
}
.right-header{
    position: fixed;
    z-index: 9999;
    background-color: rgba(255, 141, 148, 0.32);
    padding: 12px;
    padding-bottom: 8px;
    right: 0px;
    top: 0px;
}

footer {
    background-color: black;
    padding: 20px;
}
.footer-content {
    display: flex;
    text-align: left;
    justify-content: center;
    padding-bottom: 46px;
    margin-left: -8px;
    margin-right: -8px;
    margin-bottom: -8px;
}
.footer-block {
    margin: 0px 30px 0px 30px;
}
.footer-title {
    justify-content: left;
    margin-bottom: 18px;
    padding: 0px 0px 0px 0px;
    color:white;
    font-family: "MatrixSans";
}
.footer-list {
    margin: -12px 0px 0px -18px;
    color: darkgray;
    font-family: "MatrixSans";
}
a.footer-item:link{
    color: darkgray;
    text-decoration: none;
}
a.footer-item:visited{
    color: dimgray;
    text-decoration: none;
}

/* For the navicons and logo */
a#header-logo {
    width: 96px;
    height: 96px;
    background-image: url(assets/ECSPdev.png)
}
a#header-logo:hover {
    width: 96px;
    height: 96px;
    background-image: url(assets/ECSPdev_animated.gif)
}

.header-inline {
    width: 36px;
    display: block;
    margin: 0px 0px 10px 0px;
}
a#navicon-sqr {
    height: 36px;
    background-image: url(assets/Navicons/navicons_sqr_s.png)
}
a#navicon-bdp {
    height: 36px;
    background-image: url(assets/Navicons/navicons_boredom.png)
}
a#navicon-sqr:hover {
    height: 36px;
    background-image: url(assets/Navicons/navicons_sqr_s.png)
}
a#navicon-bdp:hover {
    height: 36px;
    background-image: url(assets/Navicons/navicons_boredom_s.png)
}

/* Stuff */
.body-presentation {
    font-family: "JUSTsans";
    color: white;
    height: 900px;
    margin-left: -8px;
    margin-right: -8px;
    margin-top: -20px;
    overflow: hidden;
    background-image: url(assets/square_runner_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.body-presentation-logo {
    display: block;
    margin: 0px auto 0px auto;
    padding-top: 200px;
    width: 700px;
}

.body-title{
    height: 70px;
    background-color: black;
    width: 300px;
    margin-left: -8px;
    position: absolute;
}
.body-features {
    height: 1600px;
    background-image: url(assets/square_runner_ambient.png);
    background-size: cover;
    margin-left: -8px;
    margin-right: -8px;
    font-family: 'MatrixSans';
    text-align: center;
}
.body-features-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
p {
    font-size: 20px;
}
.body-features-box1{
    margin-top: 50px;
    background-color: white;
    border: 8px solid #b100ff;
    padding: 30px;
    width: 700px;
    height: 230px;
}
.body-features-box2{
    margin-top: 50px;
    border: 8px solid #8e2e33;
    padding: 30px;
    width: 700px;
    height: 230px;
    background-color: #ff636c;
}
.body-features-box3{
    margin-top: 50px;
    border: 8px solid rgb(46, 142, 124);
    padding: 30px;
    width: 700px;
    height: 230px;
    background-color: #65e7ff;
}
.body-features-box4{
    margin-top: 50px;
    color: white;
    border: 8px solid #7b0006;
    padding: 30px;
    width: 700px;
    height: 230px;
    background-color: #424242;
}
h1.title {
    font-family: "MatrixSans";
    color: white;
    margin-left: 30px;
    margin-top: 14px;
    text-align: left;
}

.body-updates {
    height: 500px;
    background-image: url(assets/squares_v.png);
    background-size: cover;
    margin-left: -8px;
    margin-right: -8px;
    font-family: 'JUSTsans';
    text-align: center;
}
.discord-button{
    background-color: #4e59df;
    border-radius: 12px;
    padding: 8px;
    color: white;
}