@font-face {
    font-family: "MatrixSans";
    src: url("../fonts/MatrixSans-Regular.woff2") format("woff2");
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "JUSTsans";
    src: url("../fonts/JUSTSans-Rg.woff2") format("woff2");
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Monaspace";
    src: url("../fonts/MonaspaceNeon-Regular.woff2") format("woff2");
    font-style: normal;
    font-display: swap;
}

body {
    background-color: #2a2a2a
}

/* Top left */
#studio-logo{
    width: 10vh;
    height: 12vh;
}
p.top-left{
    margin-left: 1.1vw;
    margin-top: 4.4vh;
    color: white;
}
.top-left-div{
    margin-left: 0.4vw;
    margin-top: 1vh;
    font-family: "MatrixSans";
    font-size: 3vh;
    left : 0vw;
    top: 0vh;
    display: flex;
    position: absolute;
}

.studio-banner{
    background-color: darkslategray;
    height: 80vh;
    margin-top: -16px;
    margin-left: -8px;
    margin-right: -8px;
}
h1.studio-banner{
    
}