@font-face {
    font-family: "MatrixSans";
    src: url("../fonts/MatrixSans-Regular.woff2") format("woff2");
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "JUSTsans";
    src: url("../fonts/JUSTSans-Rg.woff2") format("woff2");
    font-style: normal;
    font-display: swap;
}
body {
    background-color: #6e4c92;
}
.left-header{
    position: fixed;
    z-index: 9999;
    display: inline-flex;
    background-color: rgba(255, 141, 148, 0.63);
    margin: 8px 0px 0px -8px;
    padding: 4px 16px 0px 12px;
}
.right-header{
    position: fixed;
    z-index: 9999;
    background-color: rgba(255, 141, 148, 0.32);
    padding: 12px;
    padding-bottom: 8px;
    right: 0px;
    top: 0px;
}

footer {
    background-color: black;
    padding: 20px;
}
.footer-content {
    display: flex;
    text-align: left;
    justify-content: center;
    padding-bottom: 46px;
    margin-left: -8px;
    margin-right: -8px;
    margin-bottom: -8px;
}
.footer-block {
    margin: 0px 30px 0px 30px;
}
.footer-title {
    justify-content: left;
    margin-bottom: 18px;
    padding: 0px 0px 0px 0px;
    color:white;
    font-family: "MatrixSans";
}
.footer-list {
    margin: -12px 0px 0px -18px;
    color: darkgray;
    font-family: "MatrixSans";
}
a.footer-item:link{
    color: darkgray;
    text-decoration: none;
}
a.footer-item:visited{
    color: dimgray;
    text-decoration: none;
}

/* For the navicons and logo */
a#header-logo {
    width: 96px;
    height: 96px;
    background-image: url(../assets/images/ECSPdev.png)
}
a#header-logo:hover {
    width: 96px;
    height: 96px;
    background-image: url(../assets/images/ECSPdev_animated.gif)
}

.header-inline {
    width: 36px;
    display: block;
    margin: 0px 0px 10px 0px;
}
a#navicon-lang {
    height: 36px;
    background-image: url(../assets/Navicons/navicons_esptoeng.png);
    margin-top: 30px;
}
a#navicon-sqr {
    height: 36px;
    background-image: url(../assets/Navicons/navicons_sqr.png)
}
a#navicon-bdp {
    height: 36px;
    background-image: url(../assets/Navicons/navicons_boredom.png)
}
a#navicon-rsc {
    height: 36px;
    background-image: url(../assets/Navicons/navicons_resources.png)
}a#navicon-pfl {
    height: 36px;
    background-image: url(../assets/Navicons/navicons_portfolio.png)
}
a#navicon-lang:hover {
    height: 36px;
    background-image: url(../assets/Navicons/navicons_esptoeng_s.png)
}
a#navicon-sqr:hover {
    height: 36px;
    background-image: url(../assets/Navicons/navicons_sqr_s.png)
}
a#navicon-bdp:hover {
    height: 36px;
    background-image: url(../assets/Navicons/navicons_boredom_s.png)
}
a#navicon-rsc:hover {
    height: 36px;
    background-image: url(../assets/Navicons/navicons_resources_s.png)
}a#navicon-pfl:hover {
    height: 36px;
    background-image: url(../assets/Navicons/navicons_portfolio_s.png)
}

/* Stuff */
.body-presentation {
    font-family: "JUSTsans";
    color: white;
    height: 900px;
    margin-left: -8px;
    margin-right: -8px;
    margin-top: -20px;
    background-image: url(../assets/images/squares.png);
    overflow: hidden;
}
.body-presentation-text {
    display: inline-block;
    margin-top: 260px;
    margin-left: 120px;
    position: absolute;
}
.body-presentation-header {
    font-size: 100px;
    margin-bottom: -50px;
}
.body-presentation-subheader {
    font-size: 40px;
    margin-bottom: -20px;
}
.body-presentation-checkit {
    font-size: 20px;
    margin-bottom: -20px;
}
.body-presentation-ecspdragon {
    width: 100%;
    height: inherit;
    background-position: 90% 70%;
    background-size: 520px;
    background-repeat: no-repeat;
    background-image: url(../assets/images/ecspdragon.svg);
}

.body-abitmore {
    font-family: "JUSTsans";
    color: black;
    margin-left: -8px;
    margin-right: -8px;
    margin-top: -8px;
    padding: 50px;
    background-color: #000000;
    overflow: hidden;
    text-align: left;
}
.body-abitmore-flex{
    display: flex;
    justify-content: center;
}
.body-abitmore-text {
    text-align: left;
    color: white;
    max-width: 700px;
    font-size: 20px;
    margin-top: 8px;
    margin-left: 15px;
}
.body-abitmore-img{
    width: 410px;
    height: 512px;
}

.body-projects{
    font-family: "JUSTsans";
    color: black;
    background-color: #dddddd;
    margin-left: -8px;
    margin-right: -8px;
    padding: 20px;
    overflow: hidden;
    text-align: center;
}
.body-projects-flex{
    display: flex;
    justify-content: center;
}
.body-projects-column{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 60px;
}
.body-projects-image{
    width: 480px;
    height: 270px;
}
.body-projects-text{
    margin: 0px;
    max-width: 250px;
}
h4.body-projects-text{
    margin-top: 30px;
    max-width: 250px;
}