@font-face {
    font-family: "MatrixSans";
    src: url("../fonts/MatrixSans-Regular.woff2") format("woff2");
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "JUSTsans";
    src: url("../fonts/JUSTSans-Rg.woff2") format("woff2");
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Monaspace";
    src: url("../fonts/MonaspaceNeon-Regular.woff2") format("woff2");
    font-style: normal;
    font-display: swap;
}

body {
    background-color: #a53385;
}

/* Top left */
#ecspdev-logo{
    width: 48px;
    height: 48px;
}
#studio-logo{
    width: 48px;
    height: 58px;
}
p.top-left{
    margin-left: 2px;
    margin-top: 10px;
    color: white;
}
p.top-left2{
    margin-left: 8px;
    margin-top: 14px;
    color: white;
}
.top-left-div{
    margin-top: 2vh;
    margin-left: 1vw;
    font-family: "MatrixSans";
    font-size: 20px;
    top: 0px;
    left: 0px;
    display: flex;
    position: absolute;
}

/* Article header */
.article-header-ecspdev{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    background-image: linear-gradient(#4f1a40,#a53385);
    margin-top: -10px;
    margin-left: -8px;
    margin-right: -8px;
    max-height: 600px;
    height: 600px;
}
.article-header-ecspdev h1 {
    color: white;
    font-family: "Monaspace";
    font-size: 72px;
    max-width: 80vw;
    margin-left: 40px;
    margin-bottom: -10px;
}
.article-header-ecspdev p {
    color: lightgray;
    font-family: "Monaspace";
    font-size: 24px;
    max-width: 80vw;
    margin-left: 44px;
}
.article-container {
    display: flex;
    justify-content: center;
}
.article-body {
    font-family: "JUSTsans";
    font-size: 20px;
    width: 70vw;
    padding: 40px 90px 40px 90px;
    margin-bottom: -10px;
    max-width: 80vw;
    color: white;
    background-color: #2a2a2a;
}
.article-body h1 {
    margin-bottom: -10px;
}
.article-body img {
    display: block;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.article-body a {
    color: lightgray;
}
.article-body a:visited {
    color: dimgray;
}